<mat-card>
    <mat-card-title>
        Excluir Cliente
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="cliente.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Codigo" [value]="cliente.codigo" name="codigo" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click) = "deleteCliente()" color="warn">
        Deletar
    </button>

    <button mat-raised-button (click) = "cancel()">
        Cancelar
    </button>
</mat-card>